.gradient-background {
    background: linear-gradient(#e66465, #9198e5);
}
h1 {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    

}

h2 {
    font-family: 'Inconsolata', monospace;

}
.title {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

.background-image {
    background-attachment: fixed;
  background-size: 100% 100%;
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;
}